<p><a href="/">Home</a></p>

<p>
{{#if (equals code 'item_add') }}
    Item added successfully.
{{/if}}
{{#if (equals code 'item_update') }}
    Item updated successfully.
{{/if}}
{{#if (equals code 'item_remove') }}
    Item removed successfully.
{{/if}}
</p>